body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  text-decoration-color: purple;
}
nav {
	margin-top: 0;
	position: fixed;
	background-color: lightgrey;
	height: 75px;
	width: 100%;
}
h1 {
	margin-left: 20px;
	margin-top: 15px;
	position: absolute;
}
nav ul {
	list-style: none;
}
nav li {
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 20px;
	font-size: 30px;
	margin-top: 5px;
}
